<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<button onclick="window.location.href='/'" class="back-button-general">Back</button>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h2 class="text-center">Login</h2>
      <form th:action="@{/login}" method="post" class="mt-4">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" class="form-control" required="required" />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" class="form-control" required="required" />
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
      <div>
        user: user2@user.com<br/>
        admin: admin@company.com<br/>
        Password: parola
      </div>
      <p class="mt-3 text-center">
        Don't have an account? <a href="/signup">Request access here</a>.
      </p>
    </div>
  </div>
</div>
</body>
</html>